---
{% for host in basic_inventory.list %}
  {{ host['name'] }}:
    {% if host['oob_driver'] == "ipmi" -%}
    driver_info:
      ipmi_username: "{{ host['oob_username'] }}"
      ipmi_address: "{{ host['oob_address'] }}"
      ipmi_password: "{{ host['oob_password'] }}"
    {% elif host['oob_driver'] == "redfish" -%}
    driver_info:
      redfish_address: "https://{{ host['oob_address'] }}"
      redfish_system_id: "/redfish/v1/Systems/1"
      redfish_username: "{{ host['oob_username'] }}"
      redfish_password: "{{ host['oob_password'] }}"
      redfish_verify_ca: false
    {% endif -%}
    nics:
      - mac: "{{ host['pxe_mac_address'] }}"
    instance_info:
      image_source: "{{ image_source }}"
      image_checksum: "{{ image_checksum }}"
      image_type: "{{ image_type }}"
      root_gb: "{{ root_gb }}"
      capabilities:
        boot_mode: "{{ boot_mode }}"
        disk_label: "{{ disk_label }}"
    driver: "{{ host['oob_driver'] }}"
    inventory_dhcp: true
    ipv4_address: "{{ host['pxe_address'] | ipaddr('host') }}"
    ipv4_gateway: "{{ host['pxe_gateway'] }}"
    ipv4_nameserver: "{{ host['pxe_nameserver'] }}"
    properties:
      cpu_arch: "{{ cpu_arch }}"
      root_device: {"rotational": false}
    name: {{ host['name'] }}
    ssh_public_key: "{{ ssh_public_key }}"
{% endfor %}
