---
{% for host in basic_inventory.list %}
  {{ host['name'] }}:
    ipa_kernel_url: "{{ ipa_kernel_url }}"
    ipa_ramdisk_url: "{{ ipa_ramdisk_url }}"
    {% if host['oob_driver'] == "ipmi" -%}
    driver_info:
      ipmi_username: "{{ host['oob_username'] }}"
      ipmi_address: "{{ host['oob_address'] }}"
      ipmi_password: "{{ host['oob_password'] }}"
    {% elif host['oob_driver'] == "redfish" -%}
    driver_info:
      redfish_address: "https://{{ host['oob_address'] }}"
      redfish_system_id: "/redfish/v1/Systems/11"
      redfish_username: "{{ host['oob_username'] }}"
      redfish_password: "{{ host['oob_password'] }}"
    {% endif -%}
    nics:
      - mac: "{{ host['pxe_mac_address'] }}"
    instance_info:
      image_source: "{{ image_source }}"
      image_checksum: "{{ image_checksum }}"
    driver: "{{ host['oob_driver'] }}"
    ipv4_address: "{{ host['pxe_address'] | ipaddr('host') }}"
    properties:
      cpu_arch: "{{ cpu_arch }}"
    name: {{ host['name'] }}
{% endfor %}
